


.mm-hidden-fields {
	overflow: hidden;
	transition: 1.6s ease-in-out all;
	max-width: 600px;
	max-height: 100%;
}


	.mm-hidden-fields.hide {
		max-width: 0;
		max-height: 0;
	}


.mm-preview-header {
	display: block;
	width:100%;
}

	.mm-preview-header button.btn-link {
		float: right;
		text-decoration: underline;
	}

.mm-preview-box {
	border: 1px solid #e9e9eb;
	border-radius: 3px;
	width: 620px;
	padding: 10px;
}

.mm-preview-edit {
	border-top: 1px solid #e9e9eb;
	margin-top: 20px;
	padding-top: 20px;
}


.mm-controls {
	max-width: 800px;
}