##################################################################################################################
#
# Setup Instructions:
# - Create a NuGet API key from NuGet.org.
# - Store the API key in your GitHub repository secrets (NUGET_API_KEY).
# - Modify the .github/workflows/publish.yml to fit your project's name and versioning requirements.
# - Tag a new release in GitHub to trigger the workflow.
# 
##################################################################################################################



name: Publish MetaMomentum to MyGet

on:
   push:
    branches: [ main ]
   pull_request:
    branches: [ main ]
   # Allows you to run this workflow manually from the Actions tab
   workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
     matrix:
       node-version: ['20.x']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        working-directory: MetaMomentum/Client/
        run: npm ci

      - name: Build Client
        working-directory: MetaMomentum/Client/
        run: npm run build


      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        working-directory: MetaMomentum/
        run: dotnet restore

      - name: Build
        working-directory: MetaMomentum/
        run: dotnet build --configuration Release --no-restore

      - name: Pack
        working-directory: MetaMomentum/
        run: dotnet pack --configuration Release --no-build --output ./nupkg

      - name: Publish MetaMomentum to MyGet
        working-directory: MetaMomentum/
        run: dotnet nuget push **\*.nupkg --api-key ${{ secrets.MYGETAPI }} --source https://www.myget.org/F/digital-momentum/api/v2/package  


